.service-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 50px 0 6px 0;
}
