.appointment-list {
    margin-top: -5px;
    width: 100%;
    display: block;
    text-align: left;
    border-top: 2px solid black;
}

.appointment-list h2 {
    font-size: 1.25rem;
    color: #5c5c5c;
}

.appointment-list form {
    display: flex;
    flex-direction: column;
}

.appointment-checklist {
    margin-left: 1em;
}

.appointment-item {
    margin-bottom: 10px;
}

.appointment-item input[type="radio"] {
    margin-right: 10px;
}

.appointment-item label {
    cursor: pointer;
    font-size: 16px;
}
